<p>
  <h1> Edit Recipe</h1>
  </hr>
</p>

<% if @recipe.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5>Plese Correct The Following Errors : </h5>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
      <%= form_for @recipe do |f|%>
         <%= f.label :name %>
         <%= f.text_field :name %>
         
         <%= f.label :summary %>
         <%= f.text_field :summary %>
         
         <%= f.label :description %>
         <%= f.text_area :description, rows: 10 %>
         
         <%= f.submit 'Edit Recipe',  class:"btn btn-success" %>
      <% end %>   
    </div>
</div>    